@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #050505;
  color: white;
}

#software_engineer_text {
  background-image: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet,
    red
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rainbow-animation 500s linear infinite;
}

@keyframes rainbow-animation {
  to {
    background-position: 4500vh;
  }
}
